*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100dvh;
  animation: zoomBg 10s linear alternate infinite;
}

.background {
  position: fixed;
  inset: 0;
  background-image: repeating-linear-gradient(90deg,
  #ff08 0px 30px,
  #fff4 30px 60px);
  background-size: 300%;
  animation: mover 60s linear infinite normal;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: repeating-linear-gradient(-90deg,
        #ff08 0px 30px,
        #fff4 30px 60px);
    background-size: 300%;
    mix-blend-mode: plus-lighter;

  }
}

@keyframes mover {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0% 50%;
  }
}